*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
javawithinterface/src/main/java/com/glureau/javawithinterface/generated/L6.java
javawithinterface/src/main/java/com/glureau/javawithinterface/generated/
javanointerface/src/main/java/com/glureau/javanointerface/generated/
javanointerface/src/test/java/com/glureau/javanointerface/generated/
javawithinterface/src/test/java/com/glureau/javawithinterface/generated/
.idea/
